@import '../../../assets/variables';
body {
    padding-top: 100px;
    user-select: none;
}

.game-tile {
    position: relative;
    min-width: 40px;
    padding: 8px;
    max-width: 320px;
    min-width: 250px;
    margin: 0 auto;
}

.tile-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.2s (cubic-bezier(0.55, 0, 0.1, 1));
    &:hover {
        .play-wrapper {
            opacity: 1;
        }
        .jackpot,
        .ribbon {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.tile-image {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    padding-top: 59.2%;
    background-color: #ccc;
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
}

.play-wrapper {
    position: absolute;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    transition: all 0.1s (cubic-bezier(0.55, 0, 0.1, 1));
    &:hover {
        transition: all 0.6s (cubic-bezier(0.55, 0, 0.1, 1));
    }
    opacity: 0;
    .tile {
        color: $white;
        height: 100%;
        background: rgba(#000, 0.9);
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
            text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba($whg-green, 1);
        }

        .button {
            font-weight: 500;
            padding: 4px 8px;
            height: 30px;
        }
    }
}

.ribbon {
    position: absolute;
    width: 160px;
    height: 160px;
    right: -8px;
    top: -8px;
    border-radius: 18px 0 18px 0;
    overflow: hidden;
    z-index: 5;
    transform: scale(0.8);
    transform-origin: calc(100% - 8px) calc(0% + 8px);

    &::before {
        height: 8px;
        width: 50px;
        display: block;
        left: 0;
        content: '';
        background: $bg-ribbon-top;
        position: absolute;
        z-index: 0;
    }

    &::after {
        height: 50px;
        width: 8px;
        display: block;
        right: 0;
        content: '';
        background: $bg-ribbon-bottom;
        position: absolute;
        z-index: 0;
        bottom: 0px;
        filter: blur(0.3px);
    }

    .ribbon-content {
        clip-path: url(#ribbonMask);
        display: block;
        position: inherit;
        z-index: 1;
        right: -6px;
        width: 144px;
        height: 144px;
        opacity: 1;
        background: $bg-ribbon-main;

        &::before {
            font: 700 26px/1 'Roboto', sans-serif;
            color: white;
            text-align: center;
            transform: rotate(45deg);
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 30px;
            content: 'NEW';
        }
    }

    &.top {
        @include ribbonType('TOP', 110, 1.2);
    }

    &.hot {
        @include ribbonType('HOT', 260, 4);
    }
}

.jackpot {
    position: absolute;
    width: 100%;
    color: $light-gray;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    font: 700 18px/0.5 'Roboto', sans-serif;
    padding: 14px 0;
    border-radius: 16px 16px 0 0;
    top: 0;
    z-index: 1;
}
