<whg-navigation [category]="currentCategory"></whg-navigation>

<div class="container">
    <ng-container *ngIf="games$ | async as gamesCatalog">
        <div class="columns is-multiline is-mobile">
            <div
                *ngFor="let game of gamesCatalog; trackBy: trackByFn"
                class="column is-4-tablet is-3-widescreen is-one-fifth-fullhd"
            >
                <whg-tile [data]="game" [category]="currentCategory"></whg-tile>
            </div>
        </div>
    </ng-container>
</div>
<router-outlet></router-outlet>

<svg width="0" height="0">
    <defs>
        <clipPath id="ribbonMask">
            <path
                d="M 266 42 C 266 42 297.3513 47.9822 345.9514 97.2361 C 394.5516 146.4901 405.4485 181.3602 405.4485 181.3602 L 405.4485 113.1452 C 405 113 406.9741 100.9411 377.9883 72.3912 C 355.5407 49.5077 343.0711 42.7328 335.7125 42.1302 C 323 42 280 42 266 42 Z"
                style="
                    fill: rgb(0, 0, 0);
                    fill-opacity: 0;
                    stroke: rgb(0, 0, 0);
                    stroke-opacity: 0;
                    stroke-width: 1;
                    paint-order: stroke;
                "
                transform="matrix(1, 0, 0, 1, -265.7840270996094, -41.698188781738274)"
            />
        </clipPath>
    </defs>
</svg>
