@import './assets/variables';
@import '../node_modules/bulma/bulma.sass';

body.whg {
    padding-top: 70px;
    background-image: url(assets/pattern.jpg);
    min-height: 100vh;

    .navbar-menu {
        background-color: $whg-dark-grey;
        .navbar-item {
            color: $whg-white;
            background-color: $whg-dark-grey;

            &:hover:not(.is-active) {
                color: $whg-green;
                background-color: darken($whg-dark-grey, 2%);
            }
            &.is-active,
            &:focus:not(.is-active) {
                background-color: $whg-green !important;
                cursor: pointer;
            }
        }
    }

    @media screen and (min-width: $desktop) {
        .navbar-start {
            margin: 0 auto;
            width: 90%;
        }
    }
}
